In [1]:
!pip install -q kaggle

In [2]:
import os
os.environ["KAGGLE_CONFIG_DIR"] = '/content/'

In [4]:
!chmod 600 /content/kaggle.json

In [5]:
!kaggle datasets download -d mashlyn/online-retail-ii-uci

Dataset URL: https://www.kaggle.com/datasets/mashlyn/online-retail-ii-uci
License(s): CC0-1.0
online-retail-ii-uci.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
!unzip online-retail-ii-uci.zip

Archive:  online-retail-ii-uci.zip
  inflating: online_retail_II.csv

# Data Preparation

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/content/online_retail_II.csv')

In [11]:
df.dropna(inplace=True)
invalid_codes = [item for item in set(df['StockCode']) if not item[0].isdigit()]
df = df[~df['StockCode'].isin(invalid_codes)]

In [24]:
invalid_codes

['C2',
 'D',
 'SP1002',
 'ADJUST',
 'DOT',
 'M',
 'BANK CHARGES',
 'POST',
 'ADJUST2',
 'TEST001',
 'CRUK',
 'PADS',
 'TEST002']

In [12]:
france_df = df[df["Country"] == "France"]
france_df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
71,489439,22065,CHRISTMAS PUDDING TRINKET POT,12,2009-12-01 09:28:00,1.45,12682.0,France
72,489439,22138,BAKING SET 9 PIECE RETROSPOT,9,2009-12-01 09:28:00,4.95,12682.0,France
73,489439,22139,RETRO SPOT TEA SET CERAMIC 11 PC,9,2009-12-01 09:28:00,4.95,12682.0,France
74,489439,22352,LUNCHBOX WITH CUTLERY RETROSPOT,12,2009-12-01 09:28:00,2.55,12682.0,France
75,489439,85014A,BLACK/BLUE DOTS RUFFLED UMBRELLA,3,2009-12-01 09:28:00,5.95,12682.0,France
...,...,...,...,...,...,...,...,...
1067365,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [23]:
transactions = france_df.groupby("Invoice")["StockCode"].apply(tuple)
transactions

Invoice
489439     (22065, 22138, 22139, 22352, 85014A, 85014B, 1...
489557     (21439, 16169D, 16169C, 21017, 21731, 22352, 2...
489883     (22139, 22138, 20696, 85089, 21249, 21791, 852...
490139     (22275, 85183A, 85183B, 21100, 22125, 22114, 2...
490152     (16169P, 20679, 20685, 20749, 20750, 20940, 21...
                                 ...
C579192    (23320, 23318, 22959, 22900, 22818, 22809, 224...
C579532                                             (22890,)
C579562                                       (23084, 21731)
C580263    (70007, 85175, 84821, 84819, 84817, 72586, 222...
C581316                                (23020, 21531, 23174)
Name: StockCode, Length: 701, dtype: object

In [26]:
trans = transactions.to_list()
print(len(trans))

701

In [29]:
min_sup = 0.05*len(transactions)
print(min_sup)

35.050000000000004

In [28]:
!pip install efficient-apriori

Collecting efficient-apriori
  Downloading efficient_apriori-2.0.6-py3-none-any.whl.metadata (6.7 kB)
Downloading efficient_apriori-2.0.6-py3-none-any.whl (14 kB)
Installing collected packages: efficient-apriori
Successfully installed efficient-apriori-2.0.6

In [30]:
from efficient_apriori import apriori

In [31]:
itemsets, rules = apriori(trans, min_support=0.05, min_confidence=0.5)

In [32]:
len(itemsets)

3

In [34]:
itemsets
# First index is combinition of stockcode, second is frequency

{1: {('22138',): 62,
  ('22139',): 59,
  ('22352',): 119,
  ('22333',): 39,
  ('21731',): 132,
  ('20749',): 52,
  ('21212',): 82,
  ('21238',): 42,
  ('85099B',): 68,
  ('20719',): 60,
  ('20712',): 52,
  ('20682',): 48,
  ('20724',): 84,
  ('20750',): 109,
  ('21559',): 97,
  ('21156',): 47,
  ('21121',): 59,
  ('22090',): 62,
  ('15056BL',): 36,
  ('22027',): 57,
  ('22029',): 46,
  ('22197',): 40,
  ('22303',): 45,
  ('22356',): 52,
  ('21086',): 87,
  ('21094',): 80,
  ('21080',): 84,
  ('84997D',): 39,
  ('20726',): 74,
  ('22326',): 112,
  ('22328',): 79,
  ('21843',): 38,
  ('20725',): 97,
  ('21936',): 43,
  ('22382',): 65,
  ('22383',): 44,
  ('21987',): 36,
  ('22367',): 37,
  ('22385',): 36,
  ('22432',): 40,
  ('22467',): 36,
  ('21915',): 39,
  ('22554',): 97,
  ('22551',): 80,
  ('22556',): 106,
  ('22555',): 51,
  ('22423',): 69,
  ('22437',): 36,
  ('22492',): 60,
  ('22435',): 38,
  ('22636',): 40,
  ('22634',): 43,
  ('22620',): 40,
  ('22629',): 80,
  ('22631',): 54,
  ('22659',): 49,
  ('22630',): 60,
  ('22661',): 36,
  ('22662',): 40,
  ('22727',): 42,
  ('22726',): 43,
  ('22728',): 45,
  ('23206',): 50,
  ('23084',): 74},
 2: {('20719', '20724'): 38,
  ('20724', '22356'): 36,
  ('20725', '20726'): 36,
  ('20725', '22352'): 39,
  ('20725', '22382'): 36,
  ('20749', '20750'): 37,
  ('20750', '21731'): 40,
  ('20750', '22326'): 42,
  ('20750', '22352'): 49,
  ('21080', '21086'): 61,
  ('21080', '21094'): 61,
  ('21086', '21094'): 73,
  ('21559', '22352'): 63,
  ('21731', '22352'): 38,
  ('22326', '22328'): 49,
  ('22326', '22352'): 42,
  ('22326', '22556'): 37,
  ('22328', '22352'): 36,
  ('22352', '22556'): 36,
  ('22551', '22554'): 57,
  ('22551', '22556'): 57,
  ('22554', '22556'): 63,
  ('22555', '22556'): 40,
  ('22629', '22630'): 45,
  ('22629', '22631'): 37},
 3: {('21080', '21086', '21094'): 58, ('22551', '22554', '22556'): 41}}

In [35]:
rules

[{20719} -> {20724},
 {22356} -> {20724},
 {22382} -> {20725},
 {20749} -> {20750},
 {21086} -> {21080},
 {21080} -> {21086},
 {21094} -> {21080},
 {21080} -> {21094},
 {21094} -> {21086},
 {21086} -> {21094},
 {22352} -> {21559},
 {21559} -> {22352},
 {22328} -> {22326},
 {22554} -> {22551},
 {22551} -> {22554},
 {22556} -> {22551},
 {22551} -> {22556},
 {22556} -> {22554},
 {22554} -> {22556},
 {22555} -> {22556},
 {22630} -> {22629},
 {22629} -> {22630},
 {22631} -> {22629},
 {21086, 21094} -> {21080},
 {21080, 21094} -> {21086},
 {21080, 21086} -> {21094},
 {21094} -> {21080, 21086},
 {21086} -> {21080, 21094},
 {21080} -> {21086, 21094},
 {22554, 22556} -> {22551},
 {22551, 22556} -> {22554},
 {22551, 22554} -> {22556},
 {22551} -> {22554, 22556}]

In [40]:
stock_df = df[["StockCode", "Description"]].drop_duplicates(ignore_index=True).set_index("StockCode")
stock_df

                                   Description
StockCode
85048      15CM CHRISTMAS GLASS BALL 20 LIGHTS
79323P                      PINK CHERRY LIGHTS
79323W                     WHITE CHERRY LIGHTS
22041             RECORD FRAME 7" SINGLE SIZE
21232           STRAWBERRY CERAMIC TRINKET BOX
...                                        ...
21175            GIN AND TONIC DIET METAL SIGN
23561                   SET OF 6 RIBBONS PARTY
90014C         SILVER AND BLACK ORBIT NECKLACE
85123A      CREAM HANGING HEART T-LIGHT HOLDER
23843              PAPER CRAFT , LITTLE BIRDIE

[5315 rows x 1 columns]

In [41]:
for i, rule in enumerate(rules):
  print(f'Rule: {i+1}')
  left = ' / '.join(stock_df.loc[list(rule.lhs)].values.reshape(-1))
  right = ' / '.join(stock_df.loc[list(rule.rhs)].values.reshape(-1))

  print(f'{left} -> {right}')
  print(f'Supp: {rule.support}, Confidence: {rule.confidence}, Lift: {rule.lift}, Conviction: {rule.conviction}')
  print()

Rule: 1
WOODLAND CHARLOTTE BAG -> RED SPOTTY CHARLOTTE BAG / RED RETROSPOT CHARLOTTE BAG
Supp: 0.05420827389443652, Confidence: 0.6333333333333333, Lift: 5.285317460317461, Conviction: 2.400466858970066

Rule: 2
CHARLOTTE BAG , PINK/WHITE SPOTS / CHARLOTTE BAG PINK WITH WHITE SPOTS / CHARLOTTE BAG PINK POLKADOT -> RED SPOTTY CHARLOTTE BAG / RED RETROSPOT CHARLOTTE BAG
Supp: 0.05135520684736091, Confidence: 0.6923076923076923, Lift: 5.777472527472527, Conviction: 2.8605563387773714

Rule: 3
LUNCHBAG SPACEBOY DESIGN  / LUNCH BAG SPACEBOY DESIGN  -> LUNCH BAG RED SPOTTY / LUNCH BAG RED RETROSPOT
Supp: 0.05135520684736091, Confidence: 0.5538461538461539, Lift: 4.00253766851705, Conviction: 1.931231241674625

Rule: 4
ASSORTED COLOUR MINI CASES ->  RED/WHITE DOT MINI CASES / RED/WHITE DOT MINI CASES / RED RETROSPOT MINI CASES
Supp: 0.052781740370898715, Confidence: 0.7115384615384616, Lift: 4.576040931545519, Conviction: 2.9276271890900745

Rule: 5
SET/6 RED SPOTTY PAPER CUPS -> SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS
Supp: 0.08701854493580599, Confidence: 0.7011494252873564, Lift: 5.851258894362343, Conviction: 2.9451881828367066

Rule: 6
SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER CUPS
Supp: 0.08701854493580599, Confidence: 0.7261904761904762, Lift: 5.851258894362343, Conviction: 3.1989083800555402

Rule: 7
SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS
Supp: 0.08701854493580599, Confidence: 0.7625, Lift: 6.363244047619047, Conviction: 3.7059839171235387

Rule: 8
SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER PLATES
Supp: 0.08701854493580599, Confidence: 0.7261904761904762, Lift: 6.363244047619047, Conviction: 3.2353780195675736

Rule: 9
SET/6 RED SPOTTY PAPER PLATES -> SET/6 RED SPOTTY PAPER CUPS
Supp: 0.10413694721825963, Confidence: 0.9125, Lift: 7.352442528735632, Conviction: 10.01018941076596

Rule: 10
SET/6 RED SPOTTY PAPER CUPS -> SET/6 RED SPOTTY PAPER PLATES
Supp: 0.10413694721825963, Confidence: 0.8390804597701149, Lift: 7.352442528735632, Conviction: 5.505094728373831

Rule: 11
LUNCHBOX WITH CUTLERY RETROSPOT  / LUNCH BOX WITH CUTLERY RETROSPOT  -> STRAWBERRY LUNCHBOX WITH CUTLERY / STRAWBERRY LUNCH BOX WITH CUTLERY
Supp: 0.0898716119828816, Confidence: 0.5294117647058824, Lift: 3.8259551243177685, Conviction: 1.8309557735699893

Rule: 12
STRAWBERRY LUNCHBOX WITH CUTLERY / STRAWBERRY LUNCH BOX WITH CUTLERY -> LUNCHBOX WITH CUTLERY RETROSPOT  / LUNCH BOX WITH CUTLERY RETROSPOT
Supp: 0.0898716119828816, Confidence: 0.6494845360824743, Lift: 3.8259551243177685, Conviction: 2.3686330384719336

Rule: 13
ROUND SNACK BOXES ,SET 4, FRUITS  / ROUND SNACK BOXES SET OF 4 FRUITS  -> ROUND SNACK BOXES ,SET4, WOODLAND  / ROUND SNACK BOXES SET OF4 WOODLAND
Supp: 0.06990014265335236, Confidence: 0.620253164556962, Lift: 3.8821202531645573, Conviction: 2.2126010402980674

Rule: 14
PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN SPACEBOY
Supp: 0.08131241084165478, Confidence: 0.5876288659793815, Lift: 5.14909793814433, Conviction: 2.148252491224154

Rule: 15
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN WOODLAND ANIMALS
Supp: 0.08131241084165478, Confidence: 0.7125, Lift: 5.14909793814433, Conviction: 2.996960852938686

Rule: 16
PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN SPACEBOY
Supp: 0.08131241084165478, Confidence: 0.5377358490566038, Lift: 4.71191037735849, Conviction: 1.9163876636175987

Rule: 17
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN CIRCUS PARADE
Supp: 0.08131241084165478, Confidence: 0.7125, Lift: 4.71191037735849, Conviction: 2.952304151487613

Rule: 18
PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN WOODLAND ANIMALS
Supp: 0.0898716119828816, Confidence: 0.5943396226415094, Lift: 4.2951760357907025, Conviction: 2.124008885717194

Rule: 19
PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN CIRCUS PARADE
Supp: 0.0898716119828816, Confidence: 0.6494845360824743, Lift: 4.2951760357907025, Conviction: 2.4215406492969076

Rule: 20
PLASTERS IN TIN STRONGMAN / PLASTERS IN TIN MR STRONG  -> PLASTERS IN TIN CIRCUS PARADE
Supp: 0.05706134094151213, Confidence: 0.7843137254901961, Lift: 5.186829448760637, Conviction: 3.935287233732271

Rule: 21
DOLLY GIRL LUNCH BOX -> SPACEBOY LUNCH BOX
Supp: 0.06419400855920114, Confidence: 0.75, Lift: 6.571875, Conviction: 3.5435092582938656

Rule: 22
SPACEBOY LUNCH BOX  -> DOLLY GIRL LUNCH BOX
Supp: 0.06419400855920114, Confidence: 0.5625, Lift: 6.571875, Conviction: 2.090075397708929

Rule: 23
CIRCUS PARADE LUNCHBOX  / CIRCUS PARADE LUNCH BOX  -> SPACEBOY LUNCH BOX
Supp: 0.052781740370898715, Confidence: 0.6851851851851852, Lift: 6.003935185185185, Conviction: 2.8139632368448635

Rule: 24
SET/6 RED SPOTTY PAPER CUPS / SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS
Supp: 0.08273894436519258, Confidence: 0.7945205479452054, Lift: 6.630463144161774, Conviction: 4.283499741398047

Rule: 25
SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  / SET/6 RED SPOTTY PAPER PLATES -> SET/6 RED SPOTTY PAPER CUPS
Supp: 0.08273894436519258, Confidence: 0.9508196721311475, Lift: 7.66120218579235, Conviction: 17.80979516806244

Rule: 26
SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  / SET/6 RED SPOTTY PAPER CUPS -> SET/6 RED SPOTTY PAPER PLATES
Supp: 0.08273894436519258, Confidence: 0.9508196721311475, Lift: 8.33155737704918, Conviction: 18.012838435450774

Rule: 27
SET/6 RED SPOTTY PAPER PLATES -> SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  / SET/6 RED SPOTTY PAPER CUPS
Supp: 0.08273894436519258, Confidence: 0.725, Lift: 8.33155737704918, Conviction: 3.3199325517973137

Rule: 28
SET/6 RED SPOTTY PAPER CUPS -> SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  / SET/6 RED SPOTTY PAPER PLATES
Supp: 0.08273894436519258, Confidence: 0.6666666666666666, Lift: 7.66120218579235, Conviction: 2.7389443569757486

Rule: 29
SET/20 RED SPOTTY PAPER NAPKINS  / SET/20 RED RETROSPOT PAPER NAPKINS  -> SET/6 RED SPOTTY PAPER CUPS / SET/6 RED SPOTTY PAPER PLATES
Supp: 0.08273894436519258, Confidence: 0.6904761904761905, Lift: 6.630463144161774, Conviction: 2.894326776559336

Rule: 30
PLASTERS IN TIN WOODLAND ANIMALS / PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN SPACEBOY
Supp: 0.05848787446504993, Confidence: 0.6507936507936508, Lift: 5.702579365079366, Conviction: 2.5368304946158706

Rule: 31
PLASTERS IN TIN SPACEBOY / PLASTERS IN TIN CIRCUS PARADE  -> PLASTERS IN TIN WOODLAND ANIMALS
Supp: 0.05848787446504993, Confidence: 0.7192982456140351, Lift: 5.1982275275818415, Conviction: 3.069543498337219

Rule: 32
PLASTERS IN TIN SPACEBOY / PLASTERS IN TIN WOODLAND ANIMALS -> PLASTERS IN TIN CIRCUS PARADE
Supp: 0.05848787446504993, Confidence: 0.7192982456140351, Lift: 4.756868586560742, Conviction: 3.0238052674017304

Rule: 33
PLASTERS IN TIN SPACEBOY -> PLASTERS IN TIN WOODLAND ANIMALS / PLASTERS IN TIN CIRCUS PARADE
Supp: 0.05848787446504993, Confidence: 0.5125, Lift: 5.702579365079366, Conviction: 1.866930022872181